---
---
@charset "utf-8";
// Your custom css /scss here
.btn-primary,
.chulapa-pill-bg-body,
.chulapa-pill-bg-primary {
  color: #1565c0;
  border: 1px solid #1565c0;
  background-color: transparent;
}

.chulapa-pill-bg-body,
.chulapa-pill-bg-primary {
  font-weight: normal;
}

.btn-primary .chulapa-pill-bg-primary{
  border: 0;
}

h5 + div.chulapa-pill-bg-primary {
  color: white;
  border: 0;
  background-color: #1565c0;
}

h5 {
  color: #1565c0;
}

