---
---
@charset "utf-8";
// Your custom css /scss here

.footer-chulapa a i:hover, 
.footer-chulapa a i:focus {
  transform: scale(1.5);
}

.footer-chulapa .small a{
  color: #1565c0;
}


.footer-chulapa .small a:hover,
.footer-chulapa .small a:focus {
  color: #4484CD;
}
